@font-face {
  font-family: "DINRoundPro";
  src: local("DINRoundPro"), url(./fonts/DINRoundPro.ttf) format("truetype");
}
@font-face {
  font-family: "SF";
  src: local("SFProDisplay-Regular"),
    url(./fonts/SFProDisplay-Regular.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: "SF";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
