#imagio {
  background-image: url(../images/sunset1.jpg);
}
.center-cropped {
  width: auto;
  height: 82px;
  background-position: center -600px;
  background-repeat: no-repeat;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body {
  user-select: none;
}
#preserveLine {
  white-space: pre-line;
}
