#imagio {
  background-image: url(../images/sunset1.jpg);
}
.center-cropped {
  width: auto;
  height: 82px;
  background-position: center -700px;
  background-repeat: no-repeat;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body {
  user-select: none;
}
#preserveLine {
  white-space: pre-line;
}

.loading {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
  height: 100%;
}

.loading__letter {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 2px;
  color: magenta;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin: auto;
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}
